@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="carousel slide" id="carousel-122160">
                <img alt="Carousel Bootstrap First" src="~/Content/asp-coach.jpg" style="width:100%">
                <div class="row" style="margin-left: 0px; margin-right: 0px;" id="monconteneur">
                    <form id="search-form">
                        <div class="row">
                            <div class="col-md-3 col-sm-12" style="padding-right: 1px; padding-top: 1px; padding-left:0px;padding-right: 10px;">
                                <div class="styled-select" style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; height:45px;">
                                    <select class="form-control" name="theme" id="theme" style="font-weight: 600;" onchange="loadsousactivite();">
                                        <option value="0">Quel th&egrave;me ?</option>
                                        <option value="3">Combat / Arts martiaux</option>
                                        <option value="35">Course à pied</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12" style="padding-right: 1px; padding-top: 1px; padding-left:0px; padding-right: 10px;">
                                <div class="form-group">
                                    <input type="text" placeholder="Quelle ville ?" name="ville" id="ville" class="form-control style-2" style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;  margin-bottom: 2px;" />
                                </div>
                            </div>
                            <div class='col-md-2 col-sm-12' style="padding:1px; padding-top: 1px; padding-left:0px; padding-right: 10px;">
                                <div class="form-group">
                                    <div class='date' id='datetimepicker6'>
                                        <input type='text' class="form-control style-2" style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;  margin-bottom: 2px;" placeholder="De ?" />
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-2 col-sm-12' style="padding:1px; padding-top: 1px; padding-left:0px; padding-right: 10px;">
                                <div class="form-group">
                                    <div class='date' id='datetimepicker7'>
                                        <input type='text' class="form-control style-2" style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;  margin-bottom: 2px;" placeholder="Jusqu'à ?" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12" style="padding:1px; padding-top: 1px; padding-left:0px">
                                <div class="form-group">
                                    <input type='submit' class="form-control style-2" style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;  margin-bottom: 2px; color:white; background-color:#0080FF;" value="Rechercher" />
                                </div>                            
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>
                Comment ca marche ?
            </h2>
            <p>
                FindMyCoach est une interface de mise en relation entre des particuliers et des coachs: trouver le cours qui vous correspond au niveau de la thématique, de l'horaire et près de chez vous rapidement !
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>
                Télécharger notre application mobile !
            </h2>
            <p>
                Disponible sous Android et IOS #gros liens
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <address>
                <strong>FindMyCoach Inc</strong><br> 89 Quai des Chartrons<br> 33000, Bordeaux<br> <abbr title="Phone">Standard:</abbr> (+33) 123456789
            </address>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>